*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #1f2937;
    color: #fff;
    padding: 18px 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap:25px;
}

.navbar li {
    cursor: pointer;
}

.hero {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #27145d;
    text-align: center;
}

.hero h1 {
    font-size: 45px;
}

.hero p {
    font-size: 20px;
}

.footer {
    background-color: #1f2937;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
